body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
}

::selection {
  background: transparent;
  /* Removes the background color of the selected text */
  color: inherit;
  /* Keeps the text color unchanged */
}

.full-screen-bg {
  position: relative;
  height: 100%;
  width: 100%;
}

.full-screen-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.container-fluid {
  display: flexbox;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 1);
  font-family: "Times New Roman", Times, serif;
}

#navbar_header {
  color: white;
  text-decoration: none;
}

.offcanvas-header {
  background-color: #adadad;
}

#offcanvas-body {
  background-color: #708090;
}

.text-content {
  position: fixed;
  right: 15%;
  color: white;
  text-align: center;
  bottom: 40%;
  cursor: default;
  font-family: "Times New Roman", Times, serif;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .text-content {
    text-align: right;
    /* Center alignment for screens less than 768px wide  */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* # This is for the buttons  */

button {
  font-family: "Times New Roman", Times, serif;
}

#btn-1 {
  background-color: #f2dfd3;
  border: 1px solid #e3ede7;

  padding: 0px;
  border-radius: 50% !important;
  /* border: 1px solid #ffffff; */

  color: #000;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  /* margin-right: 15px; */
  margin-left: 15px;
}

#btn-2 {
  background-color: #c9b5c8;
  border: 1px solid #c9c9c9;
  padding: 0px;
  border-radius: 50% !important;
  /* border: 1px solid #ffffff; */

  color: #000;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-right: 15px;
  margin-left: 15px;
}

#btn-3 {
  background-color: #cdd9c8;
  border: 1px solid #ccdeeb;
  padding: 0px;
  border-radius: 50% !important;
  /* border: 1px solid #ffffff; */

  color: #000;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-right: 15px;
  margin-top: 15px;
}

#btn-1:hover {
  background-color: #dfcdcb;
}

#btn-2:hover {
  background-color: #a690a9;
}

#btn-3:hover {
  background-color: #b7beae;
}

.nav-link-1{
  display: inline-block;
  padding: 7px 14px; /* Adjust padding as needed */
  color: white;
  background-color: #007BFF; /* Button background color */
  text-align: center;
  border: none;
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  transition: background-color 0.3s ease; /* Smooth transition */
  margin: 7px;
}

.nav-link-1:hover{
  background-color: #0056b3;
}
.nav-link-1:focus , .nav-link-1:active{
  outline: none;
}